.profilOverlay{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .profilBox{
        width: 95%;
        height: 90%;
        // outline: 1px solid rgb(52, 52, 52); //
        // background-color: rgba(255, 255, 255, 0.45); //
        box-shadow: 10px 10px 50px 5px black inset;
        display: grid;
        grid-template-columns: 2fr 1fr;

        div.presentationBox{
            // background-color: rgba(255, 0, 0, 0.24); //
            display: grid;
            grid-template-rows: min-content 1fr;

            .shortDescriptionBox{
                display: flex;
                align-items: center;
                padding: 2rem;
                // background-color: rgba(255, 255, 0, 0.181); //
                overflow: hidden;

                >p{
                    // outline: 1px solid green; //
                    width: 100%;
                    height: 100%;
                    font-size: 0.8vw;
                    font-family: "Playfair Display", serif;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 1rem;
                    font-weight: 400;
                    position: relative;
                    overflow-y: hidden;

                    span:nth-child(1){
                        font-size: 1.2vw;
                    }

                    &::after{
                        animation: content-move-topToBottom 3s linear forwards;
                        content: "";
                        position: absolute;
                        width: 100%;
                        left: 0;
                        top: 0;
                        height: 100%;
                        background:linear-gradient(rgba(0, 0, 0, 0) 0%, black 10%);
                     }
                }

                 
            }

                
        }

        .languagePresentationBox{
            // background-color: rgba(0, 128, 0, 0.24); //
        }
    }
}


