header{
    .optionsGear{
        position: absolute;
        top: 0.3em;
        left: 0.3em;
        font-size: 2vw;
        opacity: 0.5;
        transition: all 0.3s;
    
        &:hover{
            opacity: 1;
            cursor: pointer;
        }
    }

    .optionsOverlay{
        top: 0;
        left: 0;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: rgba(3, 3, 3, 0.446);
        display: flex;
        justify-content: center;
        align-items: center;

        .optionsBox{
            width: 80vw;
            height: 80vh;
            background-color: black;
            outline: 3px solid blue;
            z-index: 1001;
        }
    }

}

