

main{
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color: white;

    .beginSpan{
        opacity: 0.5;

        &:hover{
            cursor: pointer;
            opacity: 1;
        }
    }
}

// ANIMATION

@keyframes waiting {
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

@keyframes disapear{
    50%{transform: scale(1.2)}
    100%{opacity: 0;}
}

.waiting{
    animation: waiting 2s infinite;
}

.disapear{
    animation:disapear 2s ease;
}

