.languagesLevelBox{
    width: 100%;
    height: 100%;
    max-height: 100%;
    // background-color: rgba(250, 38, 38, 0.538); //

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 15%;
    // overflow-y: auto; //
    animation: opacity-in 0.5s linear forwards;

    &::-webkit-scrollbar{
        width: 8px;
        background: black;
    }

    &::-webkit-scrollbar-thumb{
        background: rgba(255, 255, 255, 0.517);
        border-radius: 50px;
        font-size: 10px;
    }
    

    >div.languageBox{
        outline: 1px solid black;
        display: grid;
        grid-template-rows: min-content 1fr;
        position: relative;
        padding-bottom: 2rem;

        >div.title{
            height: fit-content;
            // background-color: rgba(0, 255, 255, 0.226); //
            display: flex;
            font-size: 0.8rem;
            font-family: "inconsolata", serif;
            padding: 1rem;
            position: relative;
        }

        >div.languagesList{
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            height: fit-content;

            >div.language{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                
                >div.languageName{
                    // outline: 1px solid blue; //
                    font-family: "Playfair Display", serif;
                    font-weight: 500;
                    text-shadow: 0px 0px 1px white;
                    font-size: 1.2rem;
                }
    
                >div.languageLevelBox{
                    display: flex;
                    background-color: rgb(44, 44, 44);
                    width: 80%;
                    border-radius: 5px;
                }
            }
            
        }
        >svg{
            width: 100%;
            height: 100%;
            position: absolute;
            // outline: 1px solid red; //
            top: 0;
            left: 0;
            stroke-dashoffset: 100%;
            fill: transparent;
            stroke: white;
            stroke-width: 1.2;
        }
    }

    
}

