.ConsoleBox{
    opacity: 0;
    animation: opacity-in 0.5s ease forwards;
    outline: 1px solid rgba(255, 255, 255, 0.597); //
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .typingSentenceBox{
        // background-color: blue;
        display: inline;
        width: 100%;
        // background-color: rgba(0, 255, 255, 0.521); //
        font-size: 1.5rem;
        margin-left: 0.3rem;
        margin-top: 0.3rem;
        overflow: auto;
        height: 95%;
        font-family: 'Inconsolata', monospace;
    }
}


