div.mainDisplay{
    opacity: 0;
    animation: opacity-in 0.5s ease forwards;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;

    >div.mainCategoryBox{
        width: 80%;
        height: 90%;
        // background-color: grey; //
        display: grid;
        grid-template-columns: minmax(400px, 30%) minmax(70vh, 70%);

        >div.mainCategoryList{
            // background-color: rgba(255, 0, 0, 0.32); //
            // outline: 1px solid blue; //
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20%;

            >div.categoryBox{
                height: 3.5rem;
                margin-left: 20%;
                font-size: 3rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                // outline: 1px solid red; //
                gap: 0.2em;

                >div.categoryName{
                    height: 100%;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    // outline: 1px solid white; //

                    &:hover{
                        cursor: pointer;
                        background-color: grey;
                    }
                }

                >div.categoryCursorBar{
                    height: 80%;
                    width: 1.2rem;
                    background-color: rgba(255, 255, 255, 0.767);
                }
            }
        }

        .mainCategoryPresentationDisplay{
            // background-color: rgba(0, 0, 255, 0.423); //
            outline: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;

            .mainCategoryPresentationBox{
                outline: 1px solid white; //
                width: 80%;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        }
    }
    
}