div.mainDisplay{
    opacity: 0;
    animation: opacity-in 0.5s ease forwards;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;

    >div.mainCategoryBox{
        width: 80%;
        height: 90%;
        // background-color: grey; //
        display: grid;
        grid-template-columns: minmax(400px, 30%) minmax(70vh, 70%);

        >div.mainCategoryList{
            // background-color: rgba(255, 0, 0, 0.32); //
            // outline: 1px solid blue; //
            display: flex;
            flex-direction: column;
            height: fit-content; //
            // justify-content: center;
            align-items: center;
            position: relative;
            top: 50%;

            /////////////////////////
            /////////////////////////
            /// SOLUTION CLASSIQUE
            >div.categorySentenceBox{
                height: 3.5rem;
                margin-left: 20%;
                font-size: 3rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                // outline: 1px solid red; //
                gap: 0.2em;

                >.categoryName{
                    height: 100%;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    // outline: 1px solid white; //
                    color: white;
                    text-decoration: none;

                    &:hover{
                        cursor: pointer;
                        background-color: grey;
                    }
                }

                >div.categoryCursorBar{
                    height: 80%;
                    width: 1.2rem;
                    background-color: rgba(255, 255, 255, 0.767);
                }
            }////////////////////
        }

        .mainCategoryPresentationDisplay{
            // background-color: rgba(0, 0, 255, 0.423); //
            outline: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;

            .mainCategoryPresentationConsoleBox{
                outline: 1px solid rgba(255, 255, 255, 0.597); //
                width: 80%;
                height: 80%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }
}




// SOLUTION HEXAGONALE
div.hexagon{
    float: left;
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    position: relative;
    text-align: center;
    // outline: 1px solid red; //
    width: fit-content; //
    border-radius: 100%; //

    >*:hover{
        cursor: pointer;
    }

    &:hover svg{
        fill: rgba(250, 250, 250, 0.146);
    }

    svg{
        // outline: 1px solid red; //
        border-radius: 100%; //
        stroke: white;
        stroke-width: 0.5em;
        width: 12rem;
        height: 12rem;
        fill: rgba(250, 250, 250, 0.029);
        transition: all 0.2s ease;
    }

    div.categorySentenceBox{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // outline: 1px solid green;

        >.categoryName{
            // outline: 1px solid green; //
            height: 100%;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            // outline: 1px solid white; //
            color: white;
            text-decoration: none;
        }
    }
}

div.profilCategoryBox{
    position: absolute;
    transform: translate(-40%, -100%);
    // transform: translate(-40%);
}

div.projetCategoryBox{
    position: absolute;
    transform: translate(50%, -50%);
    // transform: translate(50%, -50%);
}

div.contactCategoryBox{
    position: absolute;
    transform: translate(-40%, 0%);
    // transform: translate(-40%, -100%);
}
    
    
    
    