div.mainDisplay{
    opacity: 0;
    animation: opacity-in 0.5s ease forwards;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
    // background-color: rgb(81, 81, 81); //
    

    .mainBox{
        width: 80%;
        height: 90%;
        // background-color: grey; //
        display: grid;
        grid-template-columns: minmax(25rem, 30%) minmax(70vh, 70%);
    }
}











    
    
    
    