.loadingDisplay{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .loadingBox{
        width: 80%;
        height: 80%;
        outline: 1px solid red;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vw;

        >div{
            outline: 1px solid white;
            display: flex;
            width: 100%;
            justify-content: center;

            >div{
                color: white;
                height: 5rem;
                display: flex;
                align-items: center;
            }

            >div.nameApparition{
                font-size: 3rem;
                gap: 0.5vw;
                width: fit-content;
                position: relative;
                padding-left: 0.5em;
                padding-right: 0.5em;

                

                // .whiteBar{
                //     width: 1.5rem;
                //     height: 60%;
                //     background-color: white;
                // }
            }

            

            >div.logoLoading{
                font-size: 3rem;
            }
        }

        
    }
}




.cursorBox{
    // outline: 1px solid blue;
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    animation: left-to-right 3s ease forwards;
    
    .cursorBar{
        width: 0.3em;
        height: 80%;
        background-color: white;
    }
}