@function hexagonPositionTransform($index){
    $baseY:-50%;
    $ecartY:50;
    $translateY:$baseY + ($ecartY * $index);

    $translateX: if($index % 2 == 0, 100%, 10%);

    @return unquote("translate(#{$translateX}, #{$translateY})")
}