svg.svg_polylinesConstructor{
    
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // outline: 1px solid red;
    z-index: 2;
    animation: boxShadowImpulseDisapear 0.2s linear forwards;

    polyline{
        width: fit-content;
        fill: transparent;
        stroke: white;
        stroke-width: 1;
    }

    polyline.impulse{
        width: fit-content;
        fill: transparent;
        stroke: rgb(48, 214, 255);
        stroke-linecap: round;
        stroke-width: 2;
    }

    polyline.impulseHyperActivation{
        width: fit-content;
        fill: transparent;
        stroke: rgb(255, 255, 255);
        stroke-linecap: round;
        stroke-width: 3;
        animation: impulseHyperActivationButtonProject 0.2s linear infinite;
    }
}

@keyframes impulseHyperActivationButtonProject{
    0%{stroke-width: 3;}
    50%{stroke-width: 4;}
    100%{stroke-width: 3;}
}