.hexagon{

    .hexagonSelected{
        transform: scale(1.1) !important;
        fill: rgba(15, 65, 78, 0.64) !important;
    }

    >*:hover{
        cursor: pointer;
    }

    &:hover svg{
        transform: scale(1.1);
        fill: rgba(15, 65, 78, 0.248);
    }
    
    position: absolute;
    top: 30%;
    left: 20%;
    // outline: 1px solid red; //
    border-radius: 100%; //

    svg{
        // outline: 1px solid red; //
        // border-radius: 100%; //
        stroke: white;
        stroke-width: 4;
        fill: transparent;
        transition: all 0.2s ease;
        width: 8rem;
        height: 8rem;

        .navPolygon{
            stroke-dasharray: 320%;
        }
    }

    
    
    .hexagonSentenceBox{
        // outline: 1px solid red; //
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .hexagonName{
            // z-index: -1;
            // outline: 1px solid green; //
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
        }
    }
}

