@use "../../Sass/Function/Function.scss";

.firstNavBox{
    // background-color: rgba(255, 0, 0, 0.32); //
    // outline: 1px solid blue; //
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    .hexagon{

        >*:hover{
            cursor: pointer;
        }

        &:hover svg{
            transform: scale(1.1);
            fill: rgba(250, 250, 250, 0.146);
        }
        
        font-size: 0.8em;
        position: absolute;
        // outline: 1px solid red; //
        border-radius: 100%; //
    
        svg{
            // outline: 1px solid red; //
            // border-radius: 100%; //
            stroke: white;
            stroke-width: 4;
            width: 5vw;
            height: 5vw;
            fill: rgba(250, 250, 250, 0.029);
            transition: all 0.2s ease;
            
        }
        
        .hexagonSentenceBox{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // outline: 1px solid blue;
    
            .hexagonName{
                font-size: 1vw;
                // outline: 1px solid green; //
                color: white;
                text-decoration: none;
            }
        }
    }
    
    >:nth-child(1){
        transform: Function.hexagonPositionTransform(1);
    }
    >:nth-child(2){
        transform: Function.hexagonPositionTransform(2);
    }
    >:nth-child(3){
        transform: Function.hexagonPositionTransform(3);
    }
    >:nth-child(4){
        transform: Function.hexagonPositionTransform(4);
    }
}

.secondNavBox{
    // background-color: rgba(223, 139, 14, 0.32); //
    // outline: 1px solid blue; //
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    .hexagon{
        opacity: 0;
        animation: opacity-in 1s ease forwards;

        >*:hover{
            cursor: pointer;
        }

        &:hover svg{
            transform: scale(1.1);
            fill: rgba(250, 250, 250, 0.146);
        }
        
        font-size: 0.8em;
        position: absolute;
        // outline: 1px solid red; //
        border-radius: 100%; //
    
        svg{
            // outline: 1px solid red; //
            // border-radius: 100%; //
            stroke: white;
            stroke-width: 4;
            width: 5vw;
            height: 5vw;
            fill: rgba(250, 250, 250, 0.029);
            transition: all 0.2s ease;
            
        }
        
        .hexagonSentenceBox{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // outline: 1px solid blue;
    
            .hexagonName{
                font-size: 0.8vw;
                // outline: 1px solid green; //
                color: white;
                text-decoration: none;
            }
        }
    }
    
    >:nth-child(1){
        transform: Function.hexagonPositionTransform(1);
    }
    >:nth-child(2){
        transform: Function.hexagonPositionTransform(2);
    }
    >:nth-child(3){
        transform: Function.hexagonPositionTransform(3);
    }
    >:nth-child(4){
        transform: Function.hexagonPositionTransform(4);
    }
}