.renderBox{
    // background-color: rgba(0, 0, 255, 0.423); //
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.renderIn{
    animation: opacity-in 1s ease forwards !important;
}

.renderOut{
    animation: opacity-out 0.5s ease forwards !important;
}