@keyframes opacity-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes opacity-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.cursor-opacity-out{animation: opacity-out 0.5s ease forwards;}
.presentationBox-opacity-out{animation: opacity-out 1s ease forwards !important;}

@keyframes content-move-leftToRight{
    to{
        left:100%
    }
}

@keyframes animation-displayProjetPresentation{
    to{flex-basis: 80%;}
}
